/*Content within the app, excluding top header*/
.container {
    border-style: outset;
    background-color: white;
    padding: 2%;
    margin: 1vw;
}
.main_content {
    background-color: #F4F4F3;
}