{% extends "layout.html" %}
{% block content %}

<!-- If the user is editing their own profile -->
{% if id_to_update.id == current_user.id %}
<h1>Change Password...</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST" enctype="multipart/form-data">
        <!--Enter Old Password -->
        <div class="form-group">
            <label>Enter Old Password...</label>
            <input name="oldpassword" type="password" class="form-control" value=""
            aria-describedby="emailHelp" placeholder="Enter Old Password...">
        </div>

        <!--Enter New Password -->
        <div class="form-group">
            <label>Enter New Password...</label>
            <input name="new_password" type="password" class="form-control" value=""
             aria-describedby="emailHelp" placeholder="Enter New Password...">
        </div>

        <!--Confirm New Password -->
        <div class="form-group">
            <label>Confirm New Password...</label>
            <input name="confirm_password" type="password" class="form-control" value=""
             aria-describedby="emailHelp" placeholder="Confirm New Password...">
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
	</form>
    <br/>
</div>
<br/><br/><br/>

<!--If the user tries to edit someone else's password via typing in the URL -->
{% else %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
	 Sorry! You Can't Edit This User's Password...
	 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
<h2>Access Denied!</h2>

{% endif %}

{% endblock %}