{% extends "layout.html" %}
{% block content %}
<h1>My Account</h1>
<br/>
<!--User information card -->
<div class="card">
    <div class="card-header">
        My Account Details
    </div>
    <div class="card-body">
        <p class="card-text" id="user_info_card">
            <strong>User ID: </strong><a id = "account_user_id">{{user.id}}</a><br/>
            <strong>Email: </strong><a id = "account_user_email">{{user.email}}</a><br/>
            <strong>Username: </strong><a id = "account_user_name">{{user.username}}</a><br/>
            <strong>Date Joined: </strong>{{user.date_created}}<br/>
        </p>

        <!-- Logout button -->
        <a href="{{ url_for('auth.logout')}}" class="btn btn-sm btn-secondary"
           id="my-account-logout-btn">Logout</a>

        <!-- Update profile button -->
        <a href="{{ url_for('views.update', id=user.id)}}" class="btn btn-sm btn-primary"
           id="my-account-update-btn">Update Profile</a>

        <!-- Change password button -->
        <a href="{{ url_for('views.changepassword', id=user.id)}}" class="btn btn-sm btn-primary"
           id="my-account-changepass-btn">Change Password</a>

        <!-- Delete profile button -->
        <a href="{{ url_for('views.delete', id=user.id)}}" class="btn btn-sm btn-danger"
           id="my-account-deleteprofile-btn">Delete Profile</a>
    </div>
</div>

<br/>
<br/>

{% endblock %}