{% extends "layout.html" %}
{% block content %}
<!-- If the user is viewing their own profile -->
{% if id_to_update.id == current_user.id %}

<h1>My Account</h1>
<br/>
<!--User information card -->
<div class="card">
    <div class="card-header">
        My Account Details
    </div>
    <div class="card-body">
        <p class="card-text" id="user_info_card">
            <strong>User ID: </strong>{{user.id}}<br/>
            <strong>Email: </strong>{{user.email}}<br/>
            <strong>Username: </strong>{{user.username}}<br/>
            <strong>Date Joined: </strong>{{user.date_created}}<br/>
        </p>

        <!-- Logout button -->
        <a href="{{ url_for('auth.logout')}}" class="btn btn-sm btn-secondary">Logout</a>

        <!-- Edit profile button -->
        <a href="{{ url_for('views.update', id=user.id)}}" class="btn btn-sm btn-primary">Update Profile</a>

        <!-- Change password button -->
        <a href="{{ url_for('views.changepassword', id=user.id)}}" class="btn btn-sm btn-primary">Change Password</a>

        <!-- Delete profile button -->
        <a href="{{ url_for('views.delete', id=user.id)}}" class="btn btn-sm btn-danger">Delete Profile</a>
    </div>
</div>

<br/>
<br/>

<!--If the user tries to view someone else's profile via typing in the URL -->
{% else %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
	 Sorry! You Can't View This User...
	 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
<h2>Access Denied!</h2>

{% endif %}

{% endblock %}