{% extends "layout.html" %}
{% block content %}
<div class="card">
    <!-- Small title at the top of the card -->
    <div class="card-header">
        My Account
    </div>
    <div class="card-body">
        <!-- Big title of the card -->
        <h5 class="card-title">Welcome, {{user.username}}</h5>
        <!-- Supporting text -->
        <p class="card-text">
            <!--User information -->
            <!--add profile pic here -->
            <strong>User ID: </strong>{{user.id}}<br/>
            <strong>Email: </strong>{{user.email}}<br/>
            <strong>Username: </strong>{{user.username}}<br/>
            <strong>Date Joined: </strong>{{user.date_created}}<br/>
        </p>

        <!-- Logout button -->
        <a href="{{ url_for('auth.logout')}}" class="btn-secondary">Logout</a>
    </div>
</div>

<br/>
<br/>


{% endblock %}