<!-- {% extends "layout.html" %} -->
{% block content %}

<h1>Update User...</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form action="/update/{{ id_to_update.id }}" method="POST">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control", value=id_to_update.username) }}
		<br/>

		{{ form.email.label(class="form-label") }}

		{{ form.email(class="form-control", value=id_to_update.email) }}
		<br/>

        <!-- password functionality here?-->
		
		{{ form.submit(class="btn btn-secondary") }}

	</form>
</div>
<br/><br/><br/>

{% endblock %}