/*The entire web crime_dash_app*/
.web_app{
    /*Styling here*/
}

/*Just the blue top header*/
.header {
    height: 9vh;
    background-color: #20206A;
    color: white;
    padding-left: 2%;
}

/*Content within the crime_dash_app, excluding top header*/
.main_content {
    background-color: lightgrey;
    padding: 2%;
}

/*The individual "boxes"/columns inside the main_content*/
.container {
    border-style: groove;
    background-color: white;
    padding: 2%;
    /* margin: 1vw; */
}